.file {
  display: grid;
  grid-template-columns: repeat(12, minmax(95px, 1fr));

  align-items: center;
  justify-items: center;

  border-bottom: 2px solid var(--color-light-text-primary);
  padding: 5px 0;

  cursor: pointer;
  transition: 0.3s;
}
.file:hover {
  transform: translateX(-5px);
}
.file__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: var(--color-light-text-primary);
}

.file__item span {
  max-width: 120px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden; /* Обрезаем всё за пределами блока */
  text-overflow: ellipsis;
}
.preview {
  position: relative;
}
.file__item .preview__part-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.preview .preview__full-image {
  position: absolute;
  top: 100%;
  left: 100%;

  border-radius: 15px;
  max-width: 250px;
  height: 150px;
}

.file__item:nth-child(2) {
  grid-column: 2/3;
}
.file__item:nth-child(3) {
  grid-column: -4/-5;
}
.file:hover .cart {
  opacity: 1;
  visibility: visible;
}
.file:hover .download {
  opacity: 1;
  visibility: visible;
}
.cart,
.download {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.no-dir {
  cursor: auto;
}
.download {
  cursor: pointer;
}
.touch {
  pointer-events: none;
  cursor: auto;
}
